body{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  background-color:#F7EED3;
}
.logo img{
  height: 50px;
  width: 60px;
  background-color: #cce7d0;
}
nav {
  background-color:#6e8bb3;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.logo {
  font-size: 1.5rem;
}

ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

ul li {
  margin-right: 20px;
}

ul li a {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}

ul li a:hover {
  color: rgb(36, 37, 36);
}
.checkbtn {
  font-size: 30px;
  color: white;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

@media (max-width: 768px) {
  .checkbtn {
    display: block;
    order: 1;
    margin-right: 20px;
  }

  ul {
    position: fixed;
    top: 80px;
    right: -100%;
    background-color:#6e8bb3;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
    z-index: 1;
  }

  ul li {
    margin: 20px 0;
  }

  ul li a {
    font-size: 20px;
  }

  #check:checked ~ ul {
    right: 0;
  }
}
#product1{
  text-align: center; 
  font-size: 1.3rem;
}
.pro-container{
display: flex;
justify-content: space-around;
align-items: center;
padding-top: 20px;

}
.pro{
border: 1px solid #B0A695;
width: 23%;
min-width: 250px;
padding: 10px 12px;
border-radius: 25px;
box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.2);
margin: 15px 0;
transition: 00.2s ease;
position: relative;
margin: 20px 20px;
background-color: #EBE3D5;
}
.pro img:hover{
transform: scale(1.1);
transition: 2s;
}
#product1 .pro img{
width: 100%;
 border-radius: 20px;
}
#product1 .pro:hover{
box-shadow:20px 20px 30px rgba(0, 0, 0, 0.6) ;
}
#product1 .pro .das .star{
font-size: 12px;
color: rgb(243, 181, 25);
}
#product1 .pro .cart{
width: 40px;
height: 40px;
line-height: 40px;
border-radius: 50px;
background-color: #B0A695;
color: #17086b;
position: absolute;
bottom: 20px;
right: 10px;
border: 1px solid wheat;
}
.pro-container{
display: flex;
justify-content: center;
flex-wrap: wrap;
}